//colors
$primary: #03b4c8;
$white: #fff;

$background-color: #f6f6f6;
$border-color: rgba(0,0,0,.1);

$main-btn-background: $primary;
$main-btn-color: $white;

//nav
$nav-menu-padding: 5vh;

//form
$form-padding: 2vh;

//pod
$pod-padding: 1vh;

$grid-gap: 1rem;


@mixin responsive-grid($width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, $width);
    grid-gap: $grid-gap;
    align-content: center;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $background-color;
}

nav {
    height: 12vh;
    padding: $nav-menu-padding;
    background: $primary;
}

main {
    padding: 2vh 0;
}

progress {
    width: 100%;
    margin-bottom: 2vh;
}

//form utilities
.form-white-bg {
    width: 50vw;
    max-width: 600px;
    margin: 5vh auto;
    background: #fff;
    box-shadow: 0 0 10px $border-color;
    main {
        padding: $form-padding;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-gap: $grid-gap;
        min-height: 65vh;
        h1 {
            font-family: fantasy;
        }
    }
}

.form-field {
    @include responsive-grid(minmax(150px, 1fr));
}

.form-option-label {
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
    @extend .flex-column-between;
    align-items: center;
}

//progress bar
progress {
    border-radius: 0;
    border-bottom: 1px solid $border-color;
   
    &::-webkit-progress-bar {
        background: transparent;
    }

    &::-webkit-progress-value {
        background: $primary;
    }
}

//pod
.pod {
    border: 1px solid $border-color;
    padding: $pod-padding;
    img {
        max-width: 100%;
    }
}

.pods-width-150 {
    @include responsive-grid(150px);
}

.pods-width-350 {
    @include responsive-grid(350px);
}

//buttons
.btn {
    border-radius: 0;
    color: $main-btn-color;
    &:hover, &:active {
        color: $main-btn-color;
        opacity: 0.7;
    }
}

.main-btn {
    background: $main-btn-background;
    color: $main-btn-color;
    &:disabled {
        visibility: hidden
    }
}

//flex utilities
.flex-row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
